<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/components/table.css">
</head>
<body>
    <label for="m-table">My table</label>
    <table class="m-table" border="1">
        <thead>
            <tr>
                <th>Mã Nhân Viên</th>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Điện thoại</th>
                <th>Email</th>
                <th>Chức vụ</th>
                <th>Phòng ban</th>
                <th>Mức lương cơ bản</th>
                <th>Tình trạng công việc</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NV-123456</td>
                <td>Vũ Xuân Trường</td>
                <td>Nam</td>
                <td>03/05/2000</td>
                <td>0389804235</td>
                <td>truonglong352000@gmail.com</td>
                <td>Intern</td>
                <td>Phòng Công Nghệ</td>
                <td>2000000</td>
                <td>Đang thử việc</td>
            </tr>
            <tr>
                <td>NV-123456</td>
                <td>Vũ Xuân Trường</td>
                <td>Nam</td>
                <td>03/05/2000</td>
                <td>0389804235</td>
                <td>truonglong352000@gmail.com</td>
                <td>Intern</td>
                <td>Phòng Công Nghệ</td>
                <td>2000000</td>
                <td>Đang thử việc</td>
            </tr>
            <tr>
                <td>NV-123456</td>
                <td>Vũ Xuân Trường</td>
                <td>Nam</td>
                <td>03/05/2000</td>
                <td>0389804235</td>
                <td>truonglong352000@gmail.com</td>
                <td>Intern</td>
                <td>Phòng Công Nghệ</td>
                <td>2000000</td>
                <td>Đang thử việc</td>
            </tr>
        </tbody>
    </table>

    <div class="m-table-paging">
        <div class="m-paging-center">
            <div class="m-firt-paging"></div>
            <div class="m-prev-paging"></div>
            <div class="m-number-paging">
                <nav data-pagination>
                    <ul>
                      <li class=current><a href=#1>1</a>
                      <li><a href=#2>2</a>
                      <li><a href=#3>3</a>
                      <li><a href=#4>4</a>
                      <li><a href=#5>5</a>
                      <li><a href=#6>6</a>
                      <li><a href=#7>7</a>
                      <li><a href=#8>8</a>
                      <li><a href=#9>9</a>
                      <li><a href=#10>…</a>
                      <li><a href=#41>41</a>
                    </ul>
                </nav>
            </div>
            <div class="m-next-paging"></div>
            <div class="m-last-paging"></div>
        </div>
    </div>
</body>
</html>